*{
    border: 1 solid red;
}
    img {
    height: 300px;
    width: 300px
}
.loginBox{
    display: flex;
    justify-content: center;
    max-width: 90%;
    width: 500px
}

.stretch input  {
  width: 100%
}
#box{
    margin-top: 500
}
.container{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px
}
 
#luffy{
    float: right
}

#archer{
    float: left
}
