<!--<div layout="column" layout-align="center center" layout-fill>
    <div class="login md-whitreframe-z1" , layout="column">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        <md-content class="md-padding" layout="column">
            <md-input-container >
               <label >Username</label>
               <input type="text">
            </md-input-container>
            <md-input-container >
                <label >password</label>
                 <input type="password" ng-model="password"/>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md raised md-primary"> Login </md-button>
                </div>
        </md-content>
        </md-toolbar>
    </div> 
</div>-->

<div class="container">
    <img id="luffy"  width="300" height="800"src="http://vignette2.wikia.nocookie.net/vsbattles/images/6/6e/Luffy_Post_Time_Skip.png/revision/latest?cb=20140115052048"/>
<div layout="column" layout-align="center center" layout-fill="layout-fill" id="box">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Login</span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <md-input-container>
        <label>EmailAddress</label>
        <input type="email" ng-model="username"/>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="password"/>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button class="md-raised md-primary" ng-click="signin()">Login</md-button>
        <div flex="flex"></div>
        <md-button href="" md-no-ink="md-no-ink">Sign Up</md-button>
      </div>
    </md-content>
  </div>
</div>
    <img id="archer" width="400" height="800" src="http://vignette1.wikia.nocookie.net/typemoon/images/e/ee/Archer1.png/revision/latest/scale-to-width-down/1000?cb=20141008192629"/>
</div>